body {
    background-color: #d9dcd6;
}


main {
    display: flex;
    justify-content: center;
}

header{
    background-color: #13293df1;
    min-height: 10vh;
    box-shadow: 0 0 2.5px 2px;

}

header h1 {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#headerBar {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Courier New';
}


header a,p{
    color: white;
    font-size: 115%;
}

header a{
    padding-top: 1rem;
}


.container {
    max-width: 70%;
    min-width: 70%;
    background: white;
    min-height: 65vh;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 9px;
    margin-top: 6rem;
}


.container h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 3rem;
}


.answerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    margin: 20px 0;
    grid-auto-rows: 100px;
    justify-items: stretch;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 7rem;
}

button {
    background-color: forestgreen;
    text-align: center;
    color: white;
    border-radius: 15px;
    box-shadow: 0 2px black;
}



button:hover {
    background-color: rgba(34, 139, 34, 0.671);
}


button:active {
    transform: translateY(4px);
    color: black;
}

button.btn:active {
    background-color: rgba(255, 0, 0, 0.857);
    color: white;
}



.startBtnClass {
    font-size: 3rem;
    min-height: 65vh;
    font-weight: bold;
}


.start {
    display: flex;
    justify-content: flex-end;
}

.hide {
    display: none;
}


#currentScore p {
    color: black;
    display: flex;
    justify-content: center;
    display: flex;
    padding-top: 6rem;
}

#scoreColumn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

button#scoreSaver {
    background-color: #a98468;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 6px;
    box-shadow: 0 0px black;
    width: 5rem;
    height: 1.5rem;
    padding-right: 5px;
}



button#scoreSaver:active {
    transform: translatex(30px);
    color: white;
}

.input-group {
    transform: rotate(-0.25turn);
    margin-top: 5.5rem;
    
}

#nameInput {
    height: 3.5rem;
    width: 12rem;
    text-indent: 102px;
    border-right: 1px;
    border-radius: 7px;
    font-family:Arial, Helvetica, sans-serif;
}


#currentScore p {
    margin-top: 12rem;
    font-size: 125%;
}

#endScoreHeader {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.endGame {
    min-width: 42rem;
    background: white;
    min-height: 80vh;
    border-radius: 7px;
    box-shadow: 0 0 6px;
    margin-top: 3rem;
}



.nameInput {
    text-size-adjust: 200%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

#playAgainButton  {
margin-top: 62rem;
display: flex;
justify-content: end;
position: absolute;
border-radius: 5px;
}

footer {
    height: 0vh;
}